{% macro todo_item(todo) %}
<li class="bg-gray-800 text-white p-4 rounded-lg mb-2" id="todo-item-{{ todo.id }}">
    <div class="flex justify-between items-center">
        <input hx-patch="/todo/{{ todo.id }}" hx-target="#todo-text-{{ todo.id }}" hx-swap="outerHTML" type="checkbox" class="mr-4" {% if todo.complete %} checked {% endif %} />
        {% call todo_text(todo) %}
        <form hx-delete="/todo/{{ todo.id }}" hx-target="#todo-item-{{ todo.id }}" hx-swap="outerHTML">
            <button type="submit" class="bg-red-600 hover:bg-red-700 text-white rounded-lg px-4 py-2">Delete</button>
        </form>
    </div>
</li>
{% endmacro %}

{% macro todo_text(todo) %}
<span id="todo-text-{{ todo.id }}" class="text-lg {% if todo.complete %} line-through text-gray-500 {% endif %}">{{ todo.text }}</span>
{% endmacro %}
