{% import "macros/list_preview.html" as list_preview %}

<div>
    <h1 class="text-3xl font-bold text-center mt-8" id="title">{{ owner }}'s Lists</h1>
</div>
<div class="container mx-auto mt-8">
    <form hx-post="/list" hx-target="#mylists" hx-swap="beforeend" class="flex items-center">
        <input type="text" name="name" id="name" class="border border-gray-700 bg-gray-800 text-white rounded-lg px-4 py-2 mr-2"
            placeholder="Create a new list" />
        <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white rounded-lg px-4 py-2">Create</button>
    </form>
    <ul id="mylists" class="mt-4">
        {% for list in lists %}
            {% let id = list.id.to_string() %}
            {% let name = list.name.clone() %}
            {% call list_preview::listpreview(id, name) %}
        {% endfor %}
    </ul>
</div>
